{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
    </head>
    <body>
        <header>
        </header>
        <section>
            {{with .Flash}}
            <div class='flash '>{{.}}</div>
            {{end}}
            {{template "body" .}}
        </section>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}