{{template "base" . }}

{{define "body"}}
<div class="shortener-page flex-center">
    <div class="shortener-container">
        <form action="/shorten" method="POST" class="shortener-form">
            <input 
                type="text" 
                name="url" 
                placeholder="Enter the URL to shorten" 
                class="shortener-input">
            <input 
                type="submit" 
                value="Shorten" 
                class="shortener-button">
        </form>
    </div>
</div>
{{end}}
